<html>
    <body>
        <h3>Inserir Nova Analise</h3>
        <form action="inserir_analise" method="post">
            <p>num_analise: <input type="number" name="num_analise"/></p>
            <p>especialidade: <input type="text" name="especialidade"/></p>
            <p>num_cedula: <input type="number" name="num_cedula"/></p>
            <p>num_doente: <input type="number" name="num_doente"/></p>
            <p>data: <input type="text" name="data"/></p>
            <p>data_registo: <input type="text" name="data_registo"/></p>
            <p>nome: <input type="text" name="nome"/></p>
            <p>quant: <input type="number" name="quant"/></p>
            <p>inst: <input type="text" name="inst"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>
