<html>
    <body>
        <h3>Venda Farmacia</h3>
        <form action="adicionar_venda_farmacia_prescricao" method="post">
            <p><input type="hidden" name="flag" value="0"/></p>
            <p>Num_venda: <input type="number" name="num_venda"/></p>
            <p>Data Registo: <input type="text" name="data_registo"/></p>
            <p>Substancia: <input type="text" name="substancia"/></p>
            <p>Quantidade: <input type="number" name="quant"/></p>
            <p>Preco: <input type="number" name="preco"/></p>
            <p>Instituicao: <input type="text" name="inst"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>
