<doctype html>
<title>List Venda Farmacia - Flask</title>
<body>
  <style>
  table, th, td {
    border: 2px solid black;
  }
  th, td {
    text-align: center;
    padding: 15px;
  }
  </style>
  <h1>Lista Vendas Farmacias</h1>
  {% if cursor %}
    <table>
      <thead>
        <tr>
          <th>Num_venda</th>
          <th>Data_registo</th>
          <th>Substancia</th>
          <th>Quantidade</th>
          <th>Preco</th>
          <th>Instituicao</th>
        </tr>
      </thead>
      <tbody>
        {% for record in cursor %}
          <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td>{{ record[3] }}</td>
            <td>{{ record[4] }}</td>
            <td>{{ record[5] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  <p></p>
  <a href="venda_farmacia_no_prescription">Inserir uma nova venda</a>
  <p></p>
  <a href="voltar">Voltar</a>
  {% else %}
    <p> Error: failed to retreive data from database!</p>
  {% endif %}
</body>
</doctype>
